.body{
    background-image: url(../../img/Fondo2.png);
    
    &__title{
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-decoration: underline;
        font-size: 3rem;
    }
    &__texto{
       position: absolute;
       background: #de3152;
       border: 4px solid #de3152 !important; 
       left: 6vw;
    }  
       &__imgflex{
           display: flex;
           margin-bottom: 5vh;
           @include moviles{
               flex-direction: column;
           }
       }

       &__img{
        width: 34vw;
        height: auto;
        margin-left: 5vw;
        border-radius: 10px;
        display: inline-block;
        @include moviles{
            width: auto;
            margin-left: 0;

        }
       }

       &__img2{
           width: 26vw;
           border-radius: 10px;
           margin-left: auto;
           margin-right: 13vw;
           @include moviles{
               width: auto;
               margin-left: 0;
               margin-right: 0;
           }

       }
       &__imgtxt{
           @include moviles{

           }
       }

       &__txt{
           margin-left: 5vw;
           margin-right: 5vw;
           height: auto;
           color: #b7b7b7ed;
           overflow: hidden;
           background-image: url(../../img/fondo-pizarra.jpg);
           background-size: contain;
           border: solid;
           border-width: 8px;
           border-color: #673321;
           border-radius: 10px;
        }
        &__txt--parrafo{
            font-family: emoji;
            font-size: 1.7rem;
        }
        
        &__personal{
            background-image: url(../../img/fondo-personal.png);
            background-position: bottom;
        }   
       
        &__personaltxt{
            background-color: map-get($colores, blanco-transp );
            border: solid;
            border-color: #5d2b18ad;
        }
}

.img__personal {
    height: 37vh; 
    justify-content: left;
    display: flex;
    border: solid;
    border-width: thick;
    border-color: map-get($colores , amarillo );
}

.puesto__personal{
    background-color: #ffffff66;
}



/*/Albañileria/*/

.bodya{
    background-image:url(../../img/Fondo2.png);


    &__txt{
    margin-right: 9vw;
    margin-left: 3vw;
    font-size: 1.7rem;
    border: solid;
    border-radius: 5px;
    border-color: #00000085;
    font-weight: 500;
    overflow: hidden;
    height: auto;
}
    &__txt--fondo{
        background-color: #ffffff40;
        border: solid;
        border-radius: 5px;
        border-color: map-get($colores, negro-transp );
    }

}

/*/ Contacto /*/
.bodyc{
    background-color: #dfdfdf;
    &__form{
        padding: 20px;
    }
    &__formtxt{
        padding: 10px;
    }

}

/*/electricista y plomero/*/
@each $profesion in electricista, plomero {
    .#{$profesion} {
    @extend %centrado;
    height: 60vh;}
    
}

.bodye__txt{
    display: flex;
    justify-content: center;
}