@import "./variables";
.header{
  background-color: map-get($colores , negro-transp );
    position: sticky;
    top: 0;
      &__logo{
          border: solid;
          border-radius: 50%;
          border-color: map-get($colores, blanco-transp);
          background-color: map-get($colores, amarillo);
             }
      &__nav{

          justify-content: flex-end;
      }
      &__navbar{
        align-content: center;
        flex-wrap: wrap;

      }

      &__link{
        border: solid;
        border-color: map-get($colores, blanco-transp );
        background-color: map-get($colores, amarillo );
        margin: 5px;
        border-radius: 10px;
        box-shadow: #ffa50073 3px 2px 3px;
      }
      &__link:hover{
        background-color: map-get($colores, blanco-transp);
        transition-duration: 0.4s;

      }
      &__toggler{
          background-color: map-get($colores, amarillo);
          padding: 0.25rem 0.75rem;
          font-size: 1.25rem;
          line-height: 1;
          border-radius: 0.25rem;
          transition: box-shadow .15s ease-in-out;

      }
       
}