$colores:(
    amarillo: #dba400 ,
    blanco-transp: #ffffff96, 
    negro-transp: #00000087

);
%botones{
    position: absolute;
    border: solid  ;
    font-size: 20px;
    left: 33vw;
    text-decoration:none;
    border-radius: 5px;
    padding: 8px;
}

%centrado{
    margin: auto;
    display: block;
}


@mixin moviles {
    @media screen and (max-width: 425px) {
        @content;
    }
    
}